# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# production
/build
/Debug
v17
Debug
.vs/
*.sln
*.tlog
*.log
*.editorconfig
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.lib
*.obj